<%= render 'shared/header' %>
<h1 class="text-3xl font-bold leading-7 text-gray-900 mb-6">写真一覧</h1>
<nav class="mb-6">
  <% if authorized? %>
    <p>MyTweet Appと連携中</p>
  <% else %>
    <div>
      <%= link_to 'MyTweet Appと連携する', oauth_authorize_path, class: "text-blue-600 hover:underline cursor-pointer" %>
    </div>
  <% end %>
  <div>
    <%= link_to '写真をアップロードする', new_photo_path, class: "text-blue-600 hover:underline cursor-pointer" %>
  </div>
</nav>
<% if @photos.empty? %>
  <p class="text-center text-md mt-24">まだ写真がありません。アップロードしてみましょう。</p>
<% else %>
  <div class="grid md:grid-cols-5 sm:grid-cols-3 gap-6">
    <% @photos.each do |photo| %>
      <div>
        <p class="text-sm align-bottom h-16 flex items-end justify-center"><%= photo.title %></p>
        <img class="w-72 h-48 border object-contain" src="<%= image_url(photo.image) %>" alt="<%= photo.title %>">
        <% if authorized? %>
          <%= form_with(url: oauth_tweet_path, local: true, class: "mt-2 text-center") do |form| %>
            <%= form.hidden_field :title, value: photo.title %>
            <%= form.hidden_field :url, value: image_url(photo.image) %>
            <%= form.submit "ツイートする", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold text-xs py-1 px-2 rounded cursor-pointer" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>